@{
    Layout = null;
    var listado = Model.listado;
    var error = Model.error;
    var _path = Model.path;
    var curso = Model.curso;
    var cantidad = Model.cantidad;
    var listadoDocentes = Model.listadoDocentes;
    int index = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte general de matriculas y calificaciones</title>
    <link href="@_path\reportes\reportematriculas.css" rel="stylesheet" />
</head>
<body>
    <div class="fw-bold text-end">
        @DateTime.Now.ToLongDateString().ToUpper()
    </div>
    <div class="text-uppercase">
        <b>Fecha Inicio: </b>@Convert.ToDateTime(curso.fechaInicioCurso).ToLongDateString().ToUpper()
    </div>
    <div class="text-uppercase">
        <b>Fecha Fin: </b>@Convert.ToDateTime(curso.fechaFinCurso).ToLongDateString().ToUpper()
    </div>
    <div class="text-uppercase">
        <b>Duración: </b>@curso.horasCurso HORAS
    </div>
    <div class="text-uppercase">
        <table>
            <thead>
                <tr style="text-align:left">
                    <th width="10%">PARALELO</th>
                    <th width="40%">MÓDULO</th>
                    <th>INSTRUCTOR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listadoDocentes)
                {
                    <tr>
                        <td class="text-end">@item.paralelo</td>
                        <td class="text-end">@item.curso</td>
                        <td>@item.instructor</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
    <div class="fw-bold text-justify mt-1">@curso.curso</div>
    <table>
        <thead>
            <tr>
                <th>N.</th>
                <th>EXTENSIÓN</th>
                <th>IDENTIFICACIÓN</th>
                <th>PRIMER APELLIDO</th>
                <th>SEGUNDO APELLIDO</th>
                <th>NOMBRES</th>
                <th>CARRERA</th>
                <th>PROMEDIO</th>
                <th>ESTADO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listado)
            {
                <tr class="no-break">
                    <td>@index</td>
                    <td>@item.centro</td>
                    <td>@item.documentoIdentidad</td>
                    <td>@item.primerApellido</td>
                    <td>@item.segundoApellido</td>
                    <td>@item.nombres</td>
                    <td>@item.carrera</td>
                    <td>@item.promedioFinal</td>
                    <td class="@(item.estado.ToUpper() == "REPROBADO" ? "text-danger" : "")">@item.estado</td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</body>
</html>